@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    color:white;
    font-family: "Nunito", serif;
}

.info-section{
    display:flex;
    gap: 1rem;
    align-items: center;
    
}

.instagram-freind-request-container{
    display: flex;
    justify-content: space-between; /* Horizontal centering */
    align-items: center;    /* Vertical centering */
    height: 100vh;          /* Full viewport height */
    margin: 0 auto;
    width: 40%;
    
}

.image-section img{
    width:85px;
    height:80px;
    border-radius: 100%;
    object-position: cover;
}